ion-slides {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.featured-slide{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.sticky-row{
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0px 9px 11px -15px rgba(0,0,0,0.75);
  // display: flex;
  // flex-direction: row;
  // align-items: flex-end;

}

.info-row {
  background: #fff;
  position: sticky;
  top: calc(env(safe-area-inset-top) - 0px);
  z-index: 2;
}
